---
layout: layout
---

<!--only post-->
<% if (page['wechat-share']) { %>
  <img class="wechat-title-img"
       src="<%- config['cdn-url'] %> <%= page['wechat-share'] || page['header-img'] %> <%- config['cdn-url'] ? config['clip-content'] : '' %>"
       alt="wechat-title-image">
  <% } else{ %>
  <% if (page["cdn"] === 'header-off'){ %>
  <img class="wechat-title-img" src="<%= page["header-img"] || config["post-default-img"] %>"
       alt="wechat-title-image">
  <% } else { %>
  <img class="wechat-title-img"
       src="<%- page['header-img'] ? config['cdn-url'] + page["header-img"] : config["post-default-img"] %>"
       alt="wechat-title-image">
  <% } %>
<% } %>
<style>
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }

    <% } %>
</style>

<%- partial('_partial/header') %>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <%- partial('_partial/sidebar') %>

            <!-- Post Container -->
            <div class="col-md-8 col-md-offset-0 col-sm-12 col-xs-12 post-container">
                <%- page.content %>
                <hr>
                <% if(config['duoshuo_share'] && config['duoshuo_username']) { %>
                <!-- 多说 Share start -->
                <div class="ds-share"
                     style="text-align: right"
                     data-thread-key="<%= page.path %>"
                     data-title="<%= page.title %>"
                     data-url="<%= page.permalink %>"
                     data-images="<%= page["header-img"] ? page.permalink + page["header-img"] : '' %>"
                     data-content="<%- truncate(strip_html(page.content), {
                         length: 50,
                         omission: '...'
                     }) %> | <%= config.SEOTitle %> ">
                    <div class="ds-share-inline">
                        <ul class="ds-share-icons-16">
                            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                            <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                            <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                            <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                        </ul>
                        <div class="ds-share-icons-more">
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- 多说 Share end-->
                <% } %>

                <ul class="pager">
                    <% if (page.prev){ %>
                    <li class="previous">
                        <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.prev.title %>">&larr; Previous Post</a>
                    </li>
                    <% } %>
                    <% if (page.next){ %>
                    <li class="next">
                        <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.next.title %>">Next Post &rarr;</a>
                    </li>
                    <% } %>
                </ul>

                <%- partial('_partial/Comment') %>

            </div>
        </div>
    </div>
</article>

<%- partial('_partial/CommentScript') %>
