---
layout: page
---
<script>
function toggleBookMark(id) {
  $(id).removeClass('fa-bookmark-o').addClass('fa-bookmark');
}
</script>

<!-- Main Content -->
<% page.posts.map((post, index) => { %>
  <a href="<%- config.root %><%- post.path %>">
  <div class="card card<%- index %>">
    <div class="wrapper <%-post['theme'] === 'white' ? 'white': 'black'%>">
      <div class="card-header" style="background: #<%- post['header-bg-color']? post['header-bg-color']: 'fff' %> url(<%- post['header-img']? config['cdn-url'] + post['header-img'] : config['post-default-img-mobile'] %>) center/contain no-repeat"></div>
      <div class="data">
        <div class="content">
          <div class="stats"><span class="date"><%= post.date.format(config.date_format) %></span></div>
          <h1 class="title"><a href="<%- config.root %><%- post.path %>"><%- post.title %></a></h1>
          <p class="text"><%- truncate(strip_html(post.content), {length: 140, omission: '...'}) %></p>
          <label for="show-menu<%- index %>" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu<%- index %>" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-plane"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </a>
<% }); %>


<!-- 翻页 pager -->

<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
    </li>
    <% } %>
    <li>Page <%- page.current %> / <%- page.total %></li>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
    </li>
    <% } %>
</ul>
