---
layout: page
---
<script>
function toggleBookMark(id) {
  $(id).removeClass('fa-bookmark-o').addClass('fa-bookmark');
}
</script>

<!-- Main Content -->
<% page.posts.map((post, index) => { %>
  <div class="card card<%- index %>" href="<%- config.root %><%- post.path %>">
    <div class="wrapper <%-post['theme'] === 'white' ? 'white': 'black'%>">
      <div class="card-header"
           style="background: #<%- post['header-bg-color']? post['header-bg-color']: 'fff' %> url(<%- post['header-img']? config['cdn-url'] + post['header-img'] : config['post-default-img-mobile'] %>) center/contain no-repeat"
           onclick="location.href='<%- config.root %><%- post.path %>'"
      >
      </div>
      <div class="data" onclick="location.href='<%- config.root %><%- post.path %>'">
        <div class="content">
          <div class="stats"><a href="<%- config.root %><%- post.path %>"><span class="date"><%= post.date.format(config.date_format) %></span></a></div>
          <h1 class="title"><a href="<%- config.root %><%- post.path %>"><%- post.title %></a></h1>
          <p class="text"><a href="<%- config.root %><%- post.path %>"><%- truncate(strip_html(post.content), {length: 140, omission: '...'}) %></a></p>
        </div>
      </div>
    </div>
  </div>
<% }); %>


<!-- 翻页 pager -->

<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
    </li>
    <% } %>
    <li>Page <%- page.current %> / <%- page.total %></li>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
    </li>
    <% } %>
</ul>
