<!DOCTYPE html>
<html lang="en">
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
<%- partial('_partial/nav') %>
<!-- Main Content -->
<%- body %>
<!-- Footer -->
<%- partial('_partial/footer') %>

<%- partial('_partial/plugins') %>
</body>
</html>
