---
layout: layout
---

<!--only post-->
<% if (page['wechat-share']) { %>
  <img class="wechat-title-img"
       data-src="<%- config['cdn-url'] %> <%= page['wechat-share'] || page['header-img'] %> <%- config['cdn-url'] ? config['clip-content'] : '' %>">
  <% } else{ %>
  <% if (page["cdn"] === 'header-off'){ %>
    <img class="wechat-title-img" data-src="<%= page["header-img"] || config["post-default-img"] %>">
  <% } else { %>
    <img class="wechat-title-img"
         data-src="<%- page['header-img'] ? config['cdn-url'] + page["header-img"] : config["post-default-img"] %>">
  <% } %>
<% } %>
<style>
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
      background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
      background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>');
    }
    <% } %>
</style>

<style>
header.intro-header {
  <% if (page["magic"] === false) { %>
    margin-top: 60px;
  <% } %>
  <% if (page["header-bg-color"]) { %>
    background-color: #<%= page["header-bg-color"] %>;
  <% } %>

  <% if (page["header-size"]) { %>
    background-size: <%= page["header-size"] %>;
  <% } %>
}

.post-heading {
  <% if (page["magic"] === false) { %>
    color: black;
    text-shadow: none;
  <% } else { %>
    color: #fff;
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
  <% } %>
}

.post-tags >.tag{
  <% if (page["magic"] === false) { %>
    color: black;
    border: 1px solid black;
  <% } else { %>
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4);
  <% } %>
}

<% if (page["juejin"]) { %>
.tags .juejin {
  background: url('https://badge.juejin.im/entry/<%= page["juejin"] %>/likes.svg?style=flat') no-repeat;
  margin-top: 10px;
}
<% } %>
</style>

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <div class="post-heading">
                    <h1><%= page.title %></h1>
                    <% if(page.subtitle) { %>
                    <h2 class="subheading"><%= page.subtitle %></h2>
                    <% } %>
                    <span>
                      作者 <%- page.author || config.author %>
                    </span>
                    <% if (page.translator) { %>
                      <span>
                        譯者 <%- page.translator %>
                      </span>
                    <% } %>
                    <span>
                      日期 <%= page.date.format(config.date_format) %>
                    </span>

                    <% if (config.word_count) { %>
                      <span class="post-count">共<%= wordcount(page.content) %>字</span>
                    <% } %>

                    <div class="tags text-center post-tags">
                      <% page.tags.forEach(function(tag){ %>
                      <a class="tag" href="<%= config.root %>Tags/#<%= tag.name %>"
                         title="<%= tag.name %>"><%= tag.name %></a>
                      <% }) %>
                      <% if (page.juejin) { %>
                        <a href="https://juejin.im/entry/<%= page.juejin %>/detail" class="juejin"></a>
                      <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article data-enableMagic="<%- page['magic'] === false ? false : true %>">
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <%- partial('_partial/sidebar') %>

            <div class="col-lg-7 col-lg-offset-0 col-md-7 col-sm-9 post-container">
              <%- page.content %>
              <%- partial('_partial/Comment') %>
            </div>

            <div class="hidden-xs col-md-2 col-sm-3 toc-col">
                <div class="toc-wrap">
                    <%- toc(page.content, {list_number: false}) %>
                </div>
            </div>
        </div>
    </div>
</article>

<%- partial('_partial/CommentScript') %>

<!-- fancybox -->
<% if(config.fancybox) { %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<% } %>
