<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword" content="<%= config.keyword %>">
    <meta name="theme-color" content="<%= config.theme_color %>">
    <meta name="msapplication-navbutton-color" content="<%= config.theme_color %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= config.theme_color%>">
    <link rel="shortcut icon" href="<%- config.favicon || 'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png' %>">
    <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="/atom.xml">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="google-site-verification" content="<%= config.google_site_verification %>" />
    <title>
        <% if (page.title) { %>
        <%= page.title + '｜' + config.SEOTitle %>
        <% } else{ %>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path || '').replace('index.html', '') %>">

    <!-- Open Graph -->
    <% var shareImage = page["share-img"] ? page["share-img"] : '';

    var image = page["header-img"] ? config["cdn-url"] + page["header-img"] + config["clip-content"] : config["post-default-img"]
    var options = {
      title: page["title"] ? page["title"] + " | " + config["SEOTitle"] : config["SEOTitle"],
      image: shareImage || image
    }; %>
    <%- open_graph(options) %>

    <!-- Bootstrap v3.3.7 Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <%- css('css/blog-style.css') %>

    <!-- Pygments Github CSS -->
    <%- css('css/syntax') %>

    <!-- pace -->
    <% if(config.pace) { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <%- css('css/pace-theme-minimal.min.css') %>
    <% } %>

    <% if (config.algolia) { %>
      <!-- instantsearch.js -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.css">
      <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
    <% } %>

    <!-- lazy loading -->
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</head>
