<!-- Sidebar Container -->
<div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 hidden-sm hidden-xs sidebar-container">
    <!-- About Me -->
    <section class="visible-md visible-lg" style="padding: 0 18px">
        <div class="short-about">
            <!--侧边栏头像-->
            <% if(config['sidebar-avatar']) { %>
            <img  alt="avatar" src="<%= config['sidebar-avatar'] %>"/>
            <% } %>
            <h5><%= config.author %></h5>
            <!-- 關於我的一言兩句 -->
            <%- partial('./aboutDescription') %>
            <hr>

            <!-- 跳轉到搜尋 -->
            <input href="/search" placeholder="搜尋博客內容" onblur="navigateToSearch()" onkeypress="handleEnter(event)" id="customSearch"/>
            <!-- SNS Link 社交 -->
            <ul class="list-inline">
                <% if (config.RSS) { %>
                <li>
                    <a href="<%= config.root + 'feed.xml' %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>
                <% if (config.twitter_username) { %>
                <li>
                    <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>
                <% if (config.zhihu_username) { %>
                <li>
                    <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa  fa-stack-1x fa-inverse">知</i>
                                </span>
                    </a>
                </li>
                <% } %>

                <% if (config.weibo_username) { %>
                <li>
                    <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>

                <% if (config.facebook_username) { %>
                <li>
                    <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>

                <% if (config.github_username) { %>
                <li>
                    <a target="_blank" href="https://github.com/<%= config.github_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </section>

    <!-- Featured Tags  标签 -->
    <% if(config['featured-tags']) { %>
      <section>
          <div class="tags">
              <% site.tags.map(function(tag){ %>
              <% if(tag.length > config['featured-condition-size']) { %>
              <a href="<%= config.root %>Tags/#<%= tag.name %>" title="<%= tag.name %>"
                 rel="<%= tag.length %>"><%= tag.name %></a>
              <% } %>
              <% }) %>
          </div>
      </section>
    <% } %>
    <hr />

    <% if(config.friends) { %>
      <h5 style="text-align: center;">友情鏈接</h5>
      <ul class="list-inline" style="text-align: center;">
          <% config.friends.forEach(function(friend){ %>
          <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
          <% }); %>
      </ul>
    <% } %>
    <hr />

    <!-- Latest Blog Post-->
    <% if (config['show-latest-post']) { %>
      <h5 style="text-align: center;">最新文章</h5>
      <ul class="list-inline" style="text-align: center;">
        <% site.posts.sort('date', -1).slice(0, config['show-latest-post-size']).map((post) => { %>
          <li>
            <a href="<%- config.root %><%- post.path %>">
              <%- post.title || "未定義文章標題" %>
            </a>
          </li>
        <% }); %>
      </ul>
    <% } %>
    <hr />

    <h5 style="text-align: center;">共<%= site.posts.length %>篇文章</h5>
    <hr />

    <!-- All Blog Posts -->
    <% if (config['show-all-post']) { %>
      <h5 style="text-align: center;">所有文章</h5>
      <ul style="text-align: center; list-style-type: none; padding: 0;">
        <% site.posts.reduce((acc, curr) => {
            acc[curr.date.month()]++;
            return acc;
          }, new Array(12).fill(0)).reverse().forEach((month, index) => {
            if (month != 0) { %>
              <li>
                <a href="<%- config.root %>archive/#2017-<%- 12 - index %>">
                  <%- 12 - index %>月(<%- month%>)
                </a>
              </li>
            <% } %>
          <% }) %>
      </ul>
    <% } %>
</div>

<script>
function navigateToSearch() {
  var q = document.getElementById("customSearch").value;
  location.href="https://calpa.me/search/?q=" + q;
}

function handleEnter(e) {
  if (e.keyCode == 13) {
    navigateToSearch();
  }
}
</script>
